---
console.log('javascript');
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
    <h2 class="mx-auto text-5xl tracking-tight font-extrabold text-white">
        Space X launches
    </h2>
    <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
        All the information about SpaceX launches
    </p>
    <nav class="flex flex-col items-center justify-between w-full text-clip md:flex-row">
        <a class="text-white" href="/">Ultimos lanzamientos</a>
        <a class="text-white" href="/oldest">Los mas viejos</a>
    </nav>
</header>
