<header class="flex justify-center items-center py-5 w-auto md:w-[1120px] mx-auto">
    <nav class="flex flex-col md:flex-row gap-x-10 opacity-80 text-zinc-200 ">
        <a href="/">Inicio</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#sobremi">Sobre mi</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>