---
import SkillItem from "./SkillItem.astro";
import SkillsIcon from "@/components/icons/Skills.astro";
import ToolsIcon from "@/components/icons/Tools.astro";
import CookingIcon from "@/components/icons/Cooking.astro";

const SKILLS = [
  "UI/UX design",
  "Responsive design",
  "Interaction design",
  "Prototyping",
  "System design"
];

const TOOLS = [
  "Figma",
  "HTML / CSS & SASS",
  "Javascript",
  "Astro",
  "React",
  "Tailwind",
  "Bootstrap",
];

const COOKING = ["UX Writing", "Visual design", "Photoshop", "Node.js", "Python"];

const COLUMNS = [
  {
    title: 'Skills',
    icon: SkillsIcon,
    iconClasses: 'bg-teal-100 text-emerald-800',
    content: SKILLS,
    chipsClasses: "bg-gray-100 text-emerald-800  dark:bg-gray-700 dark:text-emerald-300"
  },
  {
    title: 'Tools',
    icon: ToolsIcon,
    iconClasses: 'bg-sky-100 text-blue-800',
    content: TOOLS,
    chipsClasses: "bg-gray-100 text-blue-800  dark:bg-gray-700 dark:text-blue-300"
  },
  {
    title: 'On rise',
    icon: CookingIcon,
    iconClasses: 'bg-amber-100 text-orange-800',
    content: COOKING
  }
]
---

<section>
  <div class="flex lg:flex-row flex-col gap-10">
    {
      COLUMNS.map((column) => (
      <div class="w-full lg:w-1/3 lg:mb-0 mb-6 flex flex-col">
        <div class="pattern-dots gray-light h-full text-gray-600 dark:text-gray-300">
          <div class="rounded-2xl bg-white dark:bg-gray-800 p-4 h-full">
            <div
              class=`${column.iconClasses} size-12 inline-flex items-center justify-center rounded-full mb-5 flex-shrink-0 p-2` 
            >
              <column.icon class="size-8" />
            </div>
            <div class="flex-grow">
              <h3 class="font-semibold text-xl text-gray-600 dark:text-gray-300 mb-3">{column.title}</h3>
              <p class="leading-relaxed text-base inline-flex flex-wrap gap-2">
                {column.content.map((obj) => <SkillItem title={obj} classes={column.chipsClasses ? column.chipsClasses : ""}  />)}
              </p>
            </div>
          </div>
        </div>
      </div>
      ))
    }
  </div>
</section>