<a 
    {...Astro.props}
    rel="noopener noreferrer"
    target="_blank"
    role="link"
    class=`rounded-full ${Astro.props.primary ? 'text-gray-200 dark:text-gray-300 bg-gray-900 dark:bg-gray-700 hover:bg-gray-500 '  : 'border-2 border-gray-600 dark:border-gray-600  text-gray-600 dark:text-gray-200 hover:text-gray-800 dark:hover:text-gray-100 bg-white hover:bg-gray-200 dark:bg-gray-900 dark:hover:bg-gray-800 '} flex justify-center items-center gap-x-2 py-3 px-4 transition`>
    <slot/>
</a>