<header class="max-w-[1440px] mx-auto p-8 flex justify-between items-center">
    <img src="/infojobs.svg" alt="Logo de Infojobs" class="w-auto h-8" />
    <a class="text-lg bg-primary text-white rounded-full py-2 px-4 hover:contrast-150 transition " href="#">Crea tu cuenta</a>
</header>