---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Briefcase from '../icons/Briefcase.astro';
import SectionContainer from '../components/SectionContainer.astro';
import TitleSection from '../components/TitleSection.astro';
import Experience from '../components/Experience.astro';

---

<Layout 
	title="Portfolio UI Engineer +10 años de experiencia en desarrollo web y UI design"
	description="Personal webpage"	
>
	<main class="px-4">
		<SectionContainer class="py-16 md:py-36">
			<Hero>
				</slot>
		  	</Hero>
		</SectionContainer>
		<div class="space-y-24">
			<SectionContainer id="experiencia">
				<TitleSection>
				  <Briefcase class="size-8" />
				  Experiencia laboral
				</TitleSection>
				<Experience />
			</SectionContainer>
		</div>
	</main>
</Layout>
